body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin: 0;
    background-color: white;
    overflow: hidden;
    overflow-y: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h2 {
    font-size: 2rem;
}

#who {
    width: 100vw;
    height: 40vh;
    background: rgb(193, 37, 255);
    color: white;
    font-size: 3rem;
}

#content {
    display: flex;
    width: 100vw;
}

main {
    padding: 2%;
    width: 96%;
}

#points {
    margin: 2%;
    padding: 1%;
    width: 40%;
    background-color: rgb(255, 217, 0);
    color: rgb(57, 89, 231);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Courier New', Courier, monospace;
}


.container {
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}

#who-text {
    filter: drop-shadow(0 8px 16px rgba(255, 255, 255, 0.9))
}

.container img{
    height: 40vh;
}

#history {
    display: flex;
    flex-direction: column;
}

#history h2 {
    background-color: rgb(237, 218, 248);
    margin-bottom: 8px;
    padding: 8px;
}

.experience {
    width: 70%;
    padding: 8px;
    background: linear-gradient(to left, rgb(0, 255, 0), red);
    margin-bottom: 8px;
}

.right {
    align-self: flex-end;
    text-align: right;
}

.left {
    align-self: flex-start;
    text-align: left;
}

#offer {
    background-color: lightgray;
    padding: 20px;
}

#offer p em{
    color: purple;
    font-weight: bolder;
}